@model IEnumerable<_1911065673_NguyenDucThong_BigSchool.ViewModels.FollowNotificationViewModel>

@{
    ViewBag.Title = "FollowNotification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>FollowNotification</h2>
